@charset "UTF-8";

/* ---------- TABLET VERSION ---------- */
@media screen and (min-width: 768px) and (max-width: 992px) {
    section.portTitle {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 50px;
    }

    section.portTitle > section.info {
        width: 40vw;
    }

    section.info > hr {
        width: 40vw;
    }

    section.container .img {
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    /* NAVIGATION BAR */
    nav#navigation > section.miniProfile{
        width: 80%;
        justify-content: space-between;
    }
}

/* ---------- DESKTOP VERSION ---------- */
@media screen and (min-width: 992px) {
    /* ---------- HEADER ---------- */
    section.portTitle {
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 80px;
    }

    section.info > hr {
        width: 80vw;
    }

    /* ---------- NAVIGATION BAR ---------- */
    #navigation {
        display: flex;
        position: sticky;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        gap: 15px;
        top: 0px;
        padding: 20px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.514);
        transition: 0.5s;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #navigation span#iburger {
        display: none;
    }

    #navigation menu#items {
        display: block;
    }

    #navigation menu#items ul {
        display: flex;
        position: sticky;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 2px;
    }

    #navigation menu#items a {
        padding: 10px;
        text-decoration: none;
        color: white;
        text-align: center;
        width: 100px;
        font-size: 1.5em;
        transition: 0.5s;
    }

    #navigation menu#items a:hover {
        background-color: var(--color-navbar);
        color: white;
        transition: 0.5s;
        text-decoration: underline;
    }

    #navigation > section#miniProfile:hover {
            background-color: var(--color-navbar);
            padding: 0px;
            cursor: default;
            border-radius: 0px;
    }

    /* MAIN */
    main#mainContent {
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    }

    /* CONTAINERS */
    div.container{
        background-color: var(--color-content-bg);
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0px 0px 10px 0px;
        width: 80vw;
        max-width: 900px;
        border: 2px solid white;
        border-radius: 15px;
        box-shadow: 10px 10px 20px 0px black;
    }

    div.container > section.content > section.centerStuff {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 20px;
        margin-bottom: 10px;
        overflow-x: auto;
    }
}