@charset "UTF-8";

/* ---------- TABLET VERSION ---------- */
@media screen and (min-width: 768px) and (max-width: 992px) {
    section.portTitle {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 50px;
    }

    section.portTitle > section.info {
        width: 40vw;
    }

    section.info > hr {
        width: 40vw;
    }

    section.container .img {
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    /* NAVIGATION BAR */
    #navigation {
        display: flex;
        position: sticky;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        top: 0px;
        background-color: var(--color-primary);
        padding: 5px;
        transition: 0.5s;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

/* ---------- DESKTOP VERSION ---------- */
@media screen and (min-width: 992px) {
    /* ---------- HEADER ---------- */
    section.portTitle {
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 80px;
    }

    section.info > hr {
        width: 80vw;
    }

    /* ---------- NAVIGATION BAR ---------- */
    #navigation {
        display: flex;
        position: sticky;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        top: 0px;
        background-color: var(--color-primary);
        padding: 5px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.514);
        transition: 0.5s;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #navigation span#iburger {
        display: none;
    }

    #navigation menu#items {
        display: block;
    }

    #navigation menu#items ul {
        display: flex;
        position: sticky;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 2px;
    }

    #navigation menu#items a {
        padding: 10px;
        text-decoration: none;
        color: white;
        text-align: center;
        width: 100px;
        transition: 0.5s;
    }

    /* MAIN */
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    /* ---------- CONTAINER ---------- */
    section.container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0px;
        width: 90vw;
        max-width: 1020px;
        border: 5px solid white;
        border-radius: 50px;
        overflow: hidden;
        margin: 20px;
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.301);
    }

    section.container p {
        font-size: 1.3em;
        text-align: center;
        letter-spacing: 1.5px;
        text-indent: 15px;
        margin: 10px;
    }

    section.container h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 15px;
        font-weight: bold;
        position: sticky;
        top: 65px; /* Altura da barra de navegação */
        z-index: 1;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.301);
        width: 100%;
        max-width: 600px;
    }

    section.container h2 {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 10px;
        font-weight: normal;
        position: sticky;
        top: 110px; /* Altura da barra de navegação */
        z-index: 1;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.301);
        width: 60%;
        max-width: 600px;
    }

    /* ---------- CONTAINER - IMAGES ---------- */
    section.container .img {
        width: 100%;
        height: 500px;
        background-size: auto;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    section.container .img1 {
        background-image: url('../images/me/clayme2.jpeg');
    }

    section.container .img2 {
        background-image: url('../images/me/clayme1.jpeg');
    }

    section.container .img3 {
        background-image: url('../images/claygithub.jpeg');
    }

    /* ---------- REGULAR CONTAINERS AND OBJECTS ---------- */
    section.container .content {
        background-color: white;
        padding: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
    }

    p.regularParag {
        color: white;  
    }

    h1.regularTitle, h2.regularSubTitle {
        color: var(--color-primary);
        background-color: white;
    }

    /* ---------- SOLID CONTAINERS AND OBJECTS ---------- */
    section.container .solidContent {
        background-color: var(--color-primary);
        padding: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
    }

    p.solidParag {
        color: var(--color-primary);  
    }

    h1.solidTitle, h2.solidSubTitle {
        color: white;
        background-color: var(--color-primary);
    }
}