/* ---------- GLOBAL ---------- */
@charset "UTF-8";

html {
    scroll-behavior: smooth;
  }

* {
    transition: 0.5s;
}

:root {
    --color-primary: #0E93D4;
    --color-secundary: #3252C6;
    --color-tertiary: #20D34F;
    --color-hover: #0062a3;

    --color-background: #313338;
}

body {
    background-color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

.noScriptContainer {
    display: block;
    position: fixed;
    background-color: var(--color-primary);
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.404);
}

/* ---------- STYLE MOBILE FIRST ---------- */

/* ---------- HEADER ---------- */
section.portTitle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    background-image: url('../images/bg2.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: burlywood;
    padding: 20px;
    text-align: center;
    overflow-x: hidden;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
    box-shadow: inset -5px -5px 20px rgba(0, 0, 0, 0.39);
    height: 100vh;
}

section.portTitle img {
    width: 200px;
    border-radius: 50%;
    transition: 0.5s;
    border: 5px solid white;
}

section.portTitle img:hover {
    width: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.39);
    transition: 0.5s;
    margin: 20px;
}

section.portTitle > .info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

section.portTitle > .info > h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: bold;
    font-size: 2em;
    margin: 10px;
    letter-spacing: 5px;   
    color: white;  
}

section.portTitle > .info > p {
    margin: 10px;
    font-size: 1.1em;
    color: white;
}

section.portTitle > section.info > hr {
    border: 1px solid white;
    width: 70vw;
    border-radius: 50px;
}

section.portTitle > .info > a.start {
    display: block;
    background-color: aliceblue;
    min-width: 30vw;
    max-width: 40vw; /* Ajuste conforme necessário */
    width: 500px; /* Adicione esta linha */
    border-radius: 50px;
    padding: 20px;
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: none;
}

section.portTitle > .info > a.start:hover {
    background-color: var(--color-hover);
    color: white !important;
    min-width: 30vw;
    max-width: 40vw; /* Ajuste conforme necessário */
    width: 500px; /* Adicione esta linha */
    border-radius: 50px;
    padding: 20px;
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: none;
    letter-spacing: 10px;
}

/* ---------- NAVIGATION BAR ---------- */
#navigation {
    display: flex;
    position: sticky;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    top: 0px;
    background-color: var(--color-primary);
    padding: 5px;
    z-index: 5;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

#navigation span#iburger {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}

#navigation span#iburger:hover {
    background-color: var(--color-hover);
    padding: 15px;
    cursor: pointer;
    border-radius: 15px;
}

#navigation span#iburger:active {
    padding: 18px;
}

#navigation menu#items {
    display: none;
}

#navigation menu#items ul {
    list-style-type: none;
    z-index: 5;
}

#navigation menu#items a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 200px;
    border-radius: 8px;
}

#navigation menu#items a:hover {
    background-color: var(--color-hover);
    letter-spacing: 5px;
}

/* ---------- PARALLAX IMAGE ---------- */
.parallax {
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* MAIN */


/* ---------- FOOTER ---------- */
footer {
    background-color: var(--color-background);
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

footer > section.information {
    background-color: var(--color-secundary);
    display: block;
    padding: 20px;
    text-align: center;
}

footer > section.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 20px;
}

footer > section.links > a {
    color: var(--color-primary);
}

footer > section.links > a > img {
    width: 30px;
    filter: grayscale(100%);
}

footer > section.links > a > img:hover {
    width: 50px;
    filter: grayscale(0%);
    transition: 0.5s;
}

footer > section.links > a > img:active {
    transform: translateY(-15px);
    transition: 0.2s;
}